{% extends 'base.html.twig' %}

{% block body %}

    <h1>Izveštaj troškova</h1>

    <a class="text-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Prikaži transakcije
    </a>

    <div class="collapse" id="collapseExample">
        <h2>Pojedinačne transakcije</h2>

    <table class="table table-bordered table-striped table-responsive-lg">
        <thead>
            <tr>
                <th>Purpose Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        {% for item in expenseItems %}
            {# @var item \App\Domain\Mobi\ExpenseItem #}
            <tr>
                <td>{{ item.purposeDescription }}</td>
                <td class="text-right">{{ item.currency.amount | number_format }} {{ item.currency.code }}</td>
                <td>{{ item.valueDate.format('d.m.Y.') }}</td>
                <td>{{ item.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% for categoryName, expenseItems in report %}
    <h2>Prikaz po kategorijama</h2>
    <table class="table table-bordered table-striped table-responsive-lg">
        <thead>
            <tr>
                <th colspan="3">{{ categoryName }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in expenseItems %}
            <tr>
                <td>{{ item.purposeDescription }}</td>
                <td>{{ item.valueDate.format('d.m.Y.') }}</td>
                <td class="text-right">{{ item.currency.amount | number_format }} {{ item.currency.code }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total:</td>
                <td class="text-right">&lt; &gt;</td>
            </tr>
        </tfoot>
    </table>
    {% endfor %}
{% endblock %}

