{% extends 'base.html.twig' %}

{% block body %}

    <h1>Report</h1>

    <table class="table table-bordered table-striped table-responsive-lg">
        <thead>
            <tr>
                <th>Purpose Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        {% for item in expenseItems %}
            {# @var item \App\Domain\Mobi\ExpenseItem #}
            <tr style="border: 1px solid black">
                <td>{{ item.purposeDescription }}</td>
                <td class="text-right">{{ item.currency.amount | number_format }} {{ item.currency.code }}</td>
                <td>{{ item.valueDate.format('d.m.Y.') }}</td>
                <td>{{ item.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

